<div class="container" id="receivedHolder">
    <h4 style="text-align: center;"> Demandes reçues </h4>
    <br>
    <% if (locals.ReceivedCount == 0) { %>
        <span class="nullCount">Aucune demande reçue</span>
    <% } else { %>
    <table class="container">
        <thead>
            <tr>
                <th> Nom </th>
                <th> Mail </th>
            </tr>
        </thead>
        <% Received.forEach(user => { %>  
            <form action="/users/actionInvite" method="POST">
            <tbody>
                <tr>
                    <th> <%= user.name %> </th>
                    <th> <%= user.mail %> </th>
                    <th>
                        <input name="receivedName" style="display: none;" value="<%= user.name %>"> 
                        <input name="receivedID" style="display: none;" value="<%= user.id %>"> 
                        <button type="submit" name="userInvite" value="true" class="btn btn-context"
                         value="<%= user._id %>">
                            Accepter
                        </button>
                        <button type="submit" name="userInvite" value="false" class="btn btn-secondary"
                         value="<%= user._id %>">
                            Refuser
                        </button>
                    </th>
                </tr>
            </tbody>
        </form>
            <% })%>      
    </table>
    <% } %>
</div>

<br>
<br>
<hr class="my-4">
<br>
<br>

<div class="container" id="sentHolder">
    <h4 style="text-align: center;"> Amis </h4>
    <br>

    <% if (locals.AcceptedCount == 0) { %>
        <span class="nullCount">Aucun ami</span>
    <% } else { %>
        <table class="container">
            <thead>
                <tr>
                    <th> Nom </th>
                    <th> Mail </th>
                </tr>
            </thead>
            <% Accepted.forEach(user => { %>  
                <form action="/users/deleteInvite" method="POST">
                <tbody>
                    <tr>
                        <th> <%= user.name %> </th>
                        <th> <%= user.mail %> </th>
                        <th> 
                            <button type="submit" name="userDeleteInviteID" class="btn btn-context"
                             value="<%= user.id %>">
                                Supprimer
                            </button>
                        </th>
                    </tr>
                </tbody>
                </form>
                <% })%>      
        </table>
    <% } %>
</div>



<br>
<br>
<hr class="my-4">
<br>
<br>

<div class="container" id="sentHolder">
    <h4 style="text-align: center;"> Demandes envoyées </h4>
    <br>

    <% if (locals.SentCounts == 0) { %>
        <span class="nullCount">Aucune demande envoyée</span>
    <% } else { %>
        <table class="container">
            <thead>
                <tr>
                    <th> Nom </th>
                    <th> Mail </th>
                </tr>
            </thead>
            <% Sent.forEach(user => { %>  
                <form action="/users/cancelInvite" method="POST">
                <tbody>
                    <tr>
                        <th> <%= user.name %> </th>
                        <th> <%= user.mail %> </th>
                        <th> 
                            <button type="submit" name="userCancelID" class="btn btn-context"
                             value="<%= user.id %>">
                                Annuler
                            </button>
                        </th>
                    </tr>
                </tbody>
                </form>
                <% })%>      
        </table>
    <% } %>
</div>