<h2 style="text-align: center;">Quelle est la réponse à la vie, au Covid, au confinement et à tout le reste?</h2>
<br>
<br>
<a class="btn btn-context" href="/authors/new">Poster anonymement</a>
<br>
<br>
<form action="/authors" method="GET">
    <label for="authorsFindInput" class="form-label">Filtrer les posts</label>
    <div class="row">
        <input id="authorsFindInput" type="text" name="name" 
            class="form-control col m-2" style="display: inline-block;"
            value="<%= searchOptions.name%>">
        <button type="submit" class="btn btn-context col-3  m-2">Rechercher</button>
    </div>
</form>
<br>
<table id="authorsList" style="width: 100%;">
    <thead id="authorsListHead">
        <tr id="authorsListTitle">
            <th style="text-align: center; width: 800px;"> Message </th>

            <th style="text-align: center;"> Âge </th>

            <th style="text-align: center;"> Type </th>
        </tr>
    </thead>
    <tbody class="authorBody">
    <% authors.forEach(author => { %>
            <tr id="<%= author.id %>" class="authorsListBody">
                <td><%= author.name %></td>
                <td style="text-align: center;"><%= author.age %></td>
                <td style="text-align: center;"><%= author.status %></td>
            </tr>
            <tr>
                <td colspan="5">
                    <hr class="my-4"></hr>
                </td>
            </tr>
            <% }) %>
        </tbody>
</table>